html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

@font-face {
  font-family: 'Roboto';
  src: url("../polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../polices/Shrikhand-Regular.otf");
}

body {
  font-size: 16px;
  font-family: 'Roboto';
}

.fa-heart {
  margin-right: 25px;
  font-size: 1.6rem;
  position: relative;
}

.fa-heart:hover .fas {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.01, 0.09, 2.24);
  transition: -webkit-transform 0.5s cubic-bezier(0.9, 0.01, 0.09, 2.24);
  transition: transform 0.5s cubic-bezier(0.9, 0.01, 0.09, 2.24);
  transition: transform 0.5s cubic-bezier(0.9, 0.01, 0.09, 2.24), -webkit-transform 0.5s cubic-bezier(0.9, 0.01, 0.09, 2.24);
}

.fa-heart .fas {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform ease-in-out 0.6s;
  transition: -webkit-transform ease-in-out 0.6s;
  transition: transform ease-in-out 0.6s;
  transition: transform ease-in-out 0.6s, -webkit-transform ease-in-out 0.6s;
}

.dish {
  -webkit-animation: move-plate 3s backwards;
          animation: move-plate 3s backwards;
}

.dish-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dish-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dish-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dish-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dish-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dish-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.dish-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.dish-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.dish-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.dish-10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-plate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-plate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

button {
  color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-size: 1.2rem;
  border: none;
  padding: 1rem;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 5px #c3c3c3, -5px 3px 5px #c3c3c3;
          box-shadow: 3px 3px 5px #c3c3c3, -5px 3px 5px #c3c3c3;
  margin: 1rem auto 3.5rem auto;
  cursor: pointer;
}

button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  -webkit-box-shadow: 3px 3px 5px #9d9d9d, -5px 3px 5px #9d9d9d;
          box-shadow: 3px 3px 5px #9d9d9d, -5px 3px 5px #9d9d9d;
}

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: displayLoader 0.4s 3s forwards;
          animation: displayLoader 0.4s 3s forwards;
}

.loader__box {
  font-family: 'Shrikhand';
  font-size: 50px;
  color: #fff;
  width: 310px;
  height: 110px;
  margin: 250px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.loader__box::after {
  content: '';
  position: absolute;
  width: 455px;
  height: 165px;
  border-radius: 50%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#9356dc), color-stop(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #9356dc, #ff79da, #9356dc);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: filltext 0.6s 1.6s ease-in-out both;
          animation: filltext 0.6s 1.6s ease-in-out both;
}

.loader__top {
  height: 5px;
  width: 310px;
  position: absolute;
  top: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to right, #9356dc, #ff79da);
  border-radius: 5px 5px 0 0;
  -webkit-animation: growx 0.6s  linear both;
          animation: growx 0.6s  linear both;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.loader__right {
  height: 100px;
  width: 5px;
  position: absolute;
  right: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  -webkit-animation: growy 0.2s 0.6s linear both;
          animation: growy 0.2s 0.6s linear both;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.loader__bottom {
  height: 5px;
  width: 310px;
  position: absolute;
  bottom: 0px;
  background: -webkit-gradient(linear, right top, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to left, #9356dc, #ff79da);
  border-radius: 0 0 5px 5px;
  -webkit-animation: growx 0.6s 0.8s linear both;
          animation: growx 0.6s 0.8s linear both;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.loader__left {
  height: 100px;
  width: 5px;
  position: absolute;
  left: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-animation: growy 0.2s 1.4s linear both;
          animation: growy 0.2s 1.4s linear both;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes growx {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes growx {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes growy {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growy {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes filltext {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes filltext {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes displayLoader {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes displayLoader {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header {
  width: 100%;
  text-align: center;
  position: relative;
}

.header img {
  width: 51%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header a {
  font-size: 1.4rem;
  position: absolute;
  top: calc(50% - (1.4rem / 2));
  left: 5%;
}

footer {
  background-color: #353535;
  color: #fff;
  line-height: 1.6rem;
  padding: 25px;
}

footer a {
  color: #fff;
}

footer h2 {
  font-family: 'Shrikhand';
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer .fa-hands-helping {
  font-size: 0.7rem;
}

footer .fas {
  display: inline-block;
  margin-right: 10px;
}

.index__main__header {
  background-color: #f6f6f6;
}

.main__header__locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
  padding: .8rem 0 .8rem 0;
  -webkit-box-shadow: inset 0 3px 3px #c3c3c3;
          box-shadow: inset 0 3px 3px #c3c3c3;
}

.main__header__locate p {
  margin-left: 15px;
  font-weight: bold;
}

.main__header__explore {
  text-align: center;
}

.main__header__explore h1 {
  font-size: 1.5rem;
  margin: 1.4rem 3rem 0 3rem;
}

.main__header__explore p {
  margin: 1rem;
  font-size: 1.2rem;
  color: #6a6a6a;
}

.main__operation {
  margin: 2rem 0;
}

.main__operation h2 {
  margin: 0 0 1rem 1.3rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.main__operation ol {
  counter-reset: section;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__operation__item {
  height: 70px;
  width: 90%;
  background: #f6f6f6;
  margin: 11px auto;
  border-radius: 25px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 3px 3px 10px #c3c3c3, -5px 3px 10px #c3c3c3;
          box-shadow: 3px 3px 10px #c3c3c3, -5px 3px 10px #c3c3c3;
  cursor: pointer;
}

.main__operation__item:hover {
  background: #f7f2fc;
}

.main__operation__item:hover .fas {
  color: #9356dc;
}

.main__operation__item p {
  margin-left: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.main__operation__item .fas {
  margin-left: 30px;
  color: #909090;
  font-size: 1.2rem;
}

.main__operation li::before {
  counter-increment: section;
  content: counter(section) " ";
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #9356dc;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants {
  width: 100%;
  background-color: #f6f6f6;
}

.restaurants h2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem 0 1.2rem 1rem;
}

.restaurant {
  width: 90%;
  margin: 0 auto 1rem;
  border-radius: 20px;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 10px #c3c3c3, -5px 3px 10px #c3c3c3;
          box-shadow: 3px 3px 10px #c3c3c3, -5px 3px 10px #c3c3c3;
  position: relative;
}

.restaurant figure {
  height: 250px;
}

.restaurant figure img {
  overflow: hidden;
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurant figure .vertical {
  -o-object-position: 0 62%;
     object-position: 0 62%;
}

.restaurant figure figcaption {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__legende {
  margin-left: 15px;
  line-height: 1.5rem;
}

.restaurant__legende h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.restaurant__legende p {
  font-size: 1.1rem;
  font-weight: lighter;
}

.restaurant__new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.6rem;
  top: 15px;
  right: 15px;
  border-radius: 2px;
}

.main-menu {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu button {
  padding: 1rem 4rem;
}

.menu__header {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.menu__header__picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__header__legende {
  position: absolute;
  bottom: 0;
  background-color: #f6f6f6;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
  font-family: 'Shrikhand';
  border-radius: 30px 30px 0 0;
}

.menu__header__legende h1 {
  margin-left: 20px;
  font-size: 1.7rem;
}

.menu__header__legende .fa-heart {
  margin-right: 37px;
  font-size: 1.7rem;
}

.menu-list {
  width: 90%;
  margin: 20px auto;
}

.menu-list .entrees {
  margin-top: 40px;
}

.menu-list h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.menu-list h2::after {
  content: "";
  display: block;
  background-color: #99e2d0;
  height: 3px;
  width: 50px;
  position: absolute;
  bottom: -7px;
}

.menu-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow: hidden;
  width: 100%;
  margin: 10px 20px 10px 10px;
}

.menu-list__text {
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow: hidden;
}

.menu-list li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  line-height: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}

.menu-list li h3 {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list li p {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list li .checker {
  width: 0;
  background: #99e2d0;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu-list li .checker .fas {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin-left: 18px;
}

.menu-list strong {
  font-weight: bold;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 20px;
}

li:hover .checker {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}

li:hover .checker .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */