footer {
    background-color: #353535;
    color: #fff;
    line-height: 1.6rem;
    padding: 25px;

    a {
        color: #fff;
    }

    h2 {
        font-family: 'Shrikhand';
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .fa-hands-helping {
            font-size: 0.7rem;
        }
    
    .fas {
        display: inline-block;
        margin-right: 10px;
       
    } 
}