// animations coeur

.fa-heart {
    margin-right: 25px;
    font-size: 1.6rem;
    position: relative;
     &:hover .fas  {
        transform: scale(1.1) translate(-50%, -50%);
        transition: transform 0.5s cubic-bezier(.9,.01,.09,2.24);

    }

    .fas {
        position: absolute;
        background: linear-gradient(to top, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        top: 50%;
        left: 50%;
        transform: scale(0) translate(-50%, -50%);
        transform-origin: 0 0;
        transition: transform ease-in-out 0.6s;
    }

   
}

// animation boutons

@mixin anim-btn {
    &:hover {
        background: linear-gradient(to right bottom, lighten($color-secondary, 5), lighten($color-primary, 5));
        box-shadow: 3px 3px 5px darken($color-grey, 35), -5px 3px 5px darken($color-grey, 35);
        
    }
}

@mixin anim-item {
    &:hover {
        background: lighten($color-primary, 37);

        .fas {
            color: $color-primary;
        }
    }
}


//animation apparition des plats

.dish {
    animation: move-plate 2s backwards;

    @for $i from 1 to 11 {
        &-#{$i} {
            animation-delay: 0.2s * $i;
        }
        
    }
}

@keyframes move-plate {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}