button {
    color: #fff;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
    font-size: 1.2rem;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 3px 3px 5px darken($color-grey, 20), -5px 3px 5px darken($color-grey, 20);
    margin: 1rem auto 3.5rem auto;
    cursor: pointer;
    @include anim-btn;
}

