.index__main__header {
    background-color: $color-grey;
}

.main__header__locate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($color-grey, 4);
    padding: .8rem 0 .8rem 0;
    box-shadow: inset 0 3px 3px darken($color-grey, 20);

    p {
        margin-left: 15px;
        font-weight: bold;
    }
}

.main__header__explore {
    // height: 35vh;
    text-align: center;

    h1 {
        font-size: 1.5rem;
        margin: 1.4rem 3rem 0 3rem;
    }

    p {
        margin: 1rem;
        font-size: 1.2rem;
        color: darken($color-grey, 55);
    }

}

.main__operation {

    margin: 2rem 0;

    h2 {
        margin: 0 0 1rem 1.3rem;
        font-size: 1.6rem;
        font-weight: bold;
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        height: 70px;
        width: 90%;
        background-color: $color-grey;
        margin: 11px auto;
        border-radius: 25px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 3px 3px 10px darken($color-grey, 20), -5px 3px 10px darken($color-grey, 20);
        cursor: pointer;

        p {
            margin-left: 30px;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .fas {
            margin-left: 30px;
            color: darken($color-grey, 40);
            font-size: 1.2rem;
        }
    }

    li::before {
        counter-increment: section;
        content: counter(section) " ";
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $color-primary;
        color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.restaurants {
    width: 100%;
    background-color: $color-grey;

    h2 {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 2rem 0 1.2rem 1rem;
    }
}

.restaurant {
    width: 90%;
    margin: 0 auto 1rem;
    border-radius: 20px;
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 3px 3px 10px darken($color-grey, 20), -5px 3px 10px darken($color-grey, 20);
    position: relative;
    figure {
        height: 250px;

        img {
            overflow: hidden;
            height: 70%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }

        .vertical {
            object-position: 0 62%;
        }

        figcaption {
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        
    }

    &__legende {
        margin-left: 15px;
        line-height: 1.5rem;
        h3 {
            font-size: 1.2rem;
            font-weight: bold;
        }

        p {
            font-size: 1.1rem;
            font-weight: lighter;
        }

    }

    &__new::before {
        content: "Nouveau";
        position: absolute;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40);
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.6rem;
        top: 15px;
        right: 15px;
        border-radius: 2px;
    }
}

